
html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #f5f7fb;
}

.App{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    gap:200px;
    padding-left: 20px;
}

fieldset{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 80%;
}
.textDiv{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 80%;

}