.prop-text{
    margin-top: 12px;
    margin-bottom: 12px;
    font-family: "Karla","Sans-serif";
    font-weight: 700;
}

.dice{
cursor:pointer;
width: 80%;
background-color: #FFFFFF;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
border-radius: 3.81277px;

}
.image{
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}


.redBackground{
    background-color: red;
}